
.Home {

    width: 100vw;
    height: 100vh;
    min-height: 768px;

    display: flex;
    justify-content: start;
    align-items: start;

    background-image: url("assets/bg-home.png");
    background-size: cover;
    background-repeat: no-repeat;

}

.HomeContent {

    width: 100%;
    height: 100%;

    min-width: 320px;

    min-height: 480px;

    border: solid 5px red;

    position: relative;

    display: flex;
    justify-content: center;

    overflow: hidden;

    position: relative;

}

.HomeContentGrid {

    /* background-color: goldenrod; */

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: flex-end;
    align-items: center;

}

.Preamble {

    z-index: 5;
    margin-bottom: 12vh;

    color: #FFF;

    padding: 0 40px 0 40px;

    max-width: 560px;

}

.Preamble > * {

    margin: 8px 0 8px 0;

    text-align: center;
}

.Preamble > h1 {
    
    font-family: Anton;

    font-size: 3.5rem;
    font-weight: bold;
    color: #ececec;

}

.Preamble > h5 {

    font-weight: 300;
    font-size: 1.25rem;
    color: #ffffffaf;
    
}

.Preamble .Highlight{

    display: inline-block;
    color: #ffbd59d8;
    font-weight: bold;

}

.ImgMe {

    position: absolute;

    /* border: solid 4px black; */

    z-index: 0;

    min-height: 80vh;
    min-width: 98vh;

    align-self: flex-end;
    filter: drop-shadow(-15px 10px 10px rgba(0, 0, 0, 0.479));

}

.BgGradientHome {

    z-index: 1;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 70%);

    width: 100vw;
    height: 100%;

    min-width: 320px;
    min-height: 480px;

    position: absolute;
}

@media screen and (min-width: 1020px) {

    .Home {
        justify-content: center;
        align-items: center;
    }

    .HomeContent {

        width: 1520px;
        min-height: 768px;
        justify-content: center;
        max-height: 1024px;

    }

    .HomeContentGrid {

        display: grid;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: repeat(8, 1fr);

        align-items: normal;

    }

    .Preamble {

        grid-row: 4 / span 2;
        grid-column: 2 / span 7;

        color: #000;

        padding: 0;

        max-width: 500px;

    }

    .Preamble > * {
        text-align: start;
    }

    .Preamble h1 {
        font-size: 4rem;
        color: #303030;
    }

    .Preamble h5 {
        color: #303030bd;
        font-size: 1.25rem;
        /* width: 80%; */
    }

    .Rectangle{
        z-index: 3;
    }

    .BgGradientHome {
        display: none;
    }

    .ImgMe {

        transform: scale(1);
        max-height: 85%;

        min-height: 720px;
        min-width: 0;

        align-self: flex-end;
        right: 0;
    }

}

@media screen and (min-width: 1360px){
    .Preamble{
        grid-row: 4 / span 2;
        grid-column: 3 / span 7;

        color: #000;

        padding: 0;

        max-width: auto;
    }
}

@media screen and (min-width: 1020px) and (max-height: 768px) {
        .Home {
            align-items: start;
        }
}